<header>
  <div class="ui menu">
    <h2 class="ui header" href="">{{t "playlist:addSong.header"}}</h2>
  </div>
</header>
<form class="pure-form">
  <input name="playlist-name" type="url" placeholder="{{t 'playlist:addSong.urlPlaceholder'}}" required>
  <button class="js-add-song-playlist ui button primary">
    {{t "playlist:addSong.addButton"}}
  </button>
  <button class="js-cancel ui button secondary">
    {{t "playlist:addSong.cancelButton"}}
  </button>
  <div class="loader invisible">
      <i class="fa fa-refresh fa-spin"></i> {{t "playlist:addSong.spinnerText"}}
  </div>
</form>